* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    width: 900px;
}

.product-area {
    border: 7px solid #000000;
    padding: 20px;
    margin-top: 25px;
    position: relative;
}

.product-area .product-name {
    text-align: center;
    margin-bottom: 25px;
}

.product-area .product-image img {
    width: 250px;
    height: 280px;
    margin-bottom: 15px;
}

.product-area .product-price {
    font-weight: bold;
    font-size: 20px;
    color: #998f8f;
    margin-bottom: 15px;
}

.p-info {
    background: #09dc9d;
    text-align: center;
    font-size: 25px;
    margin-bottom: 18px;
    position: relative;
}

.p-info::after {
    content: 'Sale';
    color: #ff0000;
    display: inline-block;
    position: absolute;
    top: -13px;
    right: -12px;
    background: #ffff00;
    font-weight: bold;
    padding: 7px;
}


.product-area .product-info {
    margin-bottom: 15px;
} 

.product-info h3::first-letter {
    color: #ff0000;
    font-size: 40px;
}

.product-area .product-info ul {
    list-style: disc;
    padding-left: 25px;
    font-weight: bold;
    color: #f05f05;
}

.product-area .product-info ul li {
    margin-bottom: 8px;
}

.product-area .product-info ul li:last-child {
    margin: 0;
}

.product-area .shipping-detail {
    font-size: 22px;
    font-weight: bold;
    color: #5da6e6;
    margin-bottom: 20px;
}

.product-area .purchase-area a,
.product-area .purchase-area a:link,
.product-area .purchase-area a:visited,
.product-area .purchase-area a:active 
{
    background-color: burlywood;
    text-decoration: none;
    font-weight: bold;
    padding: 9px;
}




.back-to-top a, 
.back-to-top a:link, 
.back-to-top a:visited, 
.back-to-top a:active {
    background-color: burlywood;
    text-decoration: none;
    font-weight: bold;
    padding: 9px;
    position: absolute;
    right: 18px;
    bottom: 10px;
}  

.back-to-top a:hover {
    color: #ff0000;
}


.product-area .purchase-area a:hover {
    color: red;
}

