* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.header-area nav {
    float: right;
    margin-right: 20px;
    margin-top: 25px;
}

.header-area a,
.header-area a:link .header-area a:visited .header-area a:active {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    padding: 30px;
}

.header-area a:hover {
    color: #ff0000;
}



.main-area .left-side {
    width: 65%;
    float: left;
    padding: 40px;
    margin-top: 65px;
}

.left-side .introduction h2 {
    font-size: 45px;
} 

.heading-color {
    color: #e2536b;
}

.left-side .introduction p {
    padding: 20px;
    word-spacing: 6px;
}

.left-side .introduction ul li {
    padding-left: 20px;
    list-style: none;
    margin: 10px;
}

.left-side .introduction ul li:first-child {
    font-weight: bold;
    color: #6c6a5a;
}

.left-side .button-area {
    margin-top: 50px;
    margin-left: 50px;
}

.left-side .button-area img {
    width: 150px;
}

.main-area .right-side {
    float: left;
    margin-top: 20px;
    width: 35%;
}

.right-side .about-image {
    width: 360px;
}

.footer-area {
    margin-right: 40px;
    margin-top: -35px;
}

.footer-area .display {
    display: inline-block;

}

.follow-me {
    float: right;

}

.great-site {
    float: right;
}

.footer-area div a,
.footer-area div a:link,
.footer-area div a:visited,
.footer-area div a:active {
    text-decoration: none;
    padding: 10px;
    color: #000000;
}

.footer-area div a:hover {
    color: #ff0000;
}


