* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header-area {
    position: relative;
}

.navigation {
    position: absolute;
    top: 35px;
    right: 41px;
}

.navigation a, 
.navigation a:link, 
.navigation a:visited, 
.navigation a:active {
    padding: 25px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.navigation a:hover {
    color: #ff0000;
}

.info-area {
    position: relative;
}

.info {
    position: absolute;
    left: 82px;
    top: 100px;
}

.h-color {
    color: #e2536b;
    font-size: 35px;
    margin-top: 12px;
}

.portfolio-heading {
    font-size: 20px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.main-area {
    margin-bottom: 80px;
}

.main-area .area-one {
    width: 50%;
    float: left;
    height: 350px;
    margin-top: 170px;
    padding-left: 100px;
}

.main-area .area-two {
    width: 50%;
    height: 350px;
    float: left;
    margin-top: 170px;
    padding-left: 100px;
}

.image {
    width: 400px;
}

.footer-area {
    margin-right: 40px; 
}

.footer-area .display {
    display: inline-block;
}

.follow-me {
    float: right;

}

.great-site {
    float: right;
}

.footer-area div a,
.footer-area div a:link,
.footer-area div a:visited,
.footer-area div a:active {
    text-decoration: none;
    padding: 10px;
    color: #000000;
}

.footer-area div a:hover {
    color: #ff0000;
}