* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
} 

.header-area {
    width: 100%;
}

.header-area nav {
    float: right;
    margin-right: 20px;
    margin-top: 25px;
}

.header-area a, 
.header-area a:link 
.header-area a:visited 
.header-area a:active {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    padding: 20px;
}

.header-area a:hover {
    color: #ff0000;
}

.main-area {
    margin-bottom: 28px;
}

.main-area .left-side {
    width: 50%;
    float: left;
    padding-left: 60px;
}

.home-img {
    width: 350px;
    
}

.main-area .right-side {
    width: 50%;
    float: left;
    margin-top: 108px;
}

.name-color {
    color: #e2536b;
    padding-left: 10px;
}

.main-area .button-area {
    float: left;
}

.introduction h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

.introduction h2 {
    font-size: 55px;
    margin-bottom: 27px;
}

.introduction p {
    word-spacing: 6px;
    margin-bottom: 80px;
}

.footer-area {
    margin-right: 40px;
}

.footer-area .display {
    display: inline-block;

}

.follow-me {
    float: right;
    
}

.great-site {
    float: right;
}

.footer-area div a, 
.footer-area div a:link, 
.footer-area div a:visited, 
.footer-area div a:active {
    text-decoration: none;
    padding: 10px;
    color: #000000;
}

.footer-area div a:hover {
    color: #ff0000;
}

