* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 2fr 1fr 2fr 3fr 1fr;
    gap: 20px;
    margin: 0 auto;
    width: 760px;
    margin-top: 23px;
}

.area-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 83px;
}

.intro-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}

.heading-para {
    font-size: 26px;
}

.intro-para {
    text-align: justify;
    font-size: 12px;
    font-family: sans-serif;
}

.shop-button a {
    font-size: 16px;
}

.shop-button a:hover {
    color: red;
}


.image-area {
    width: 50%;
}


.area-II-para {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 67px;
}

.two-head {
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.para-head {
    margin-bottom: 6px;
    font-weight: bold;
}

.p-info {
    font-size: 12px;
    font-family: sans-serif;
}

.area-three {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.three-head {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 15px;
}

.three-para {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.texts {
    padding-top: 60px;
} 


.area-four h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}

.our-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.product-name {
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 12px;
    height: 360px;
    gap: 10px;
}

.item-3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.product-info p {
    font-family: sans-serif;
    padding: 15px;
    font-size: 16px;
}

.price {
    display: flex;
    align-items: flex-end;
    gap: 46px;
    margin-bottom: 10px;
}

.price a:hover {
    color: rgb(223, 39, 39);
}

.footer-area {
    font-family: 'Times New Roman', Times, serif;
    
}
    