* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 950px;
    margin: 0 auto;
}

.header-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15px;
}

.navigation {
    justify-items: end;
}

.navigation ul li {
    list-style: none;
}

.navigation ul {
    display: flex;
    gap: 50px;
}

.login-container {
    display: flex;
    gap: 8px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 400px;
    height: 350px;
    margin: 0 auto;
    margin-top: 100px;
}

.right-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 75px;
}

.image {
    padding: 6px;
}


