* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.container {
    background: #dbd7ba;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.container div {
    color: #088d08;
    font-size: 25px;
}

.one {
    padding-left: 25px;
    width: 300px;
    display: flex;
}

.logo-img {
    width: 50px;
    padding-top: 6px;
}

.web-title h5 {
    padding-top: 28px;
}

.two {
    width: 250px;
    display: flex;
    padding-right: 253px;
}
.three {
    width: 200px;
    margin-top: 10px;
}

.select-area select {
    border-radius: 0.3rem;
    padding: 6px;
    margin-right: 5px;
}

.search-area input {
    width: 250px;
    padding: 6px;
}

.button-area button {
    padding: 6px;
    font-weight: bold;
    margin-left: 5px;
}

.logo-width {
    width: 28px;
}

.social-area a {
    padding: 12px;
}




