* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

/* SAMSUNG */

.container {
    width: 900px;
    margin: 0 auto;
    /* position: relative; */
}

.container .web-title {
    border: 8px groove #d9dc07;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background: rgba(229, 106, 6, 1);
    margin-top: 30px;
}

.container .web-title h2 {
    font-size: 32px;
    color: #FFF;
}

.menu {
    position: absolute;
    top: 70px;
    left: 244px;
    text-transform: uppercase;
}

.menu a,
.menu a:link,
.menu a:visited,
.menu a:active {
   text-decoration: none; 
   padding: 15px;
}

.menu a:hover {
    color: #ff0000;
}


.pd-info {
    background: #0ae10a;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
}


.pd-info::after {
    content:'Sale';
    background: #ffff00;
    color: #000000;
    position: absolute;
    top: -20px;
    right: -20px;
    padding: 8px;
    font-weight: bold;
}

.shipping-address {
    margin-bottom: 30px;
    font-weight: bold;
}


.product-area-I {
    border: 7px solid #000000;
    padding: 20px;
    margin-bottom: 35px;
    margin-top: 35px;
    position: relative;
}

.product-area-I::after {
    content: 'SALE';
    background: #0ae10a;
    color: #FFF;
    position: absolute;
    top: -22px;
    left: -45px;
    font-weight: bold;
    padding: 12px;
    letter-spacing: 3px;
}

.product-area-II::after {
    content: 'SALE';
    background: #0ae10a;
    color: #FFF;
    position: absolute;
    top: -22px;
    left: -45px;
    font-weight: bold;
    padding: 12px;
    letter-spacing: 3px;
}
.product-area-III::after {
    content: 'SALE';
    background: #0ae10a;
    color: #FFF;
    position: absolute;
    top: -22px;
    left: -45px;
    font-weight: bold;
    padding: 12px;
    letter-spacing: 3px;
}


.product-area-I .product-name {
    text-align: center;
    margin-bottom: 25px;
}

.product-area-I .product-image img {
    width: 207px;
    height: 252px;
    margin-bottom: 15px;
    margin-top: 28px;
}

.product-area-I .product-price {
    font-weight: bold;
    font-size: 20px;
    color: #998f8f;
    margin-bottom: 15px;
}

.product-area-I .product-info {
    margin-bottom: 15px;
} 

.product-area-I .product-info h3 {
    color: #006400;
    margin-bottom: 15px;
}

.product-area-I .product-info ul {
    list-style: disc;
    padding-left: 25px;
    font-weight: bold;
    color: #f05f05;
}

.product-area-I .product-info ul li {
    margin-bottom: 8px;
}

.product-area-I .product-info ul li:last-child {
    margin: 0;
}

.product-area-I .shipping-detail {
    font-size: 22px;
    font-weight: bold;
    color: #5da6e6;
    margin-bottom: 20px;
}

.product-area-I .purchase-area a,
.product-area-I .purchase-area a:link,
.product-area-I .purchase-area a:visited,
.product-area-I .purchase-area a:active 
{
    background-color: burlywood;
    text-decoration: none;
    font-weight: bold;
    padding: 9px;
}

.product-area-I .purchase-area a:hover {
    color: red;
}

.back-to-top a, 
.back-to-top a:link, 
.back-to-top a:visited, 
.back-to-top a:active 
{
    padding: 10px;
    position: absolute;
    bottom: 10px;
    right: 21px;
    background: #deb887;
    font-weight: bold;
    text-decoration: none;
}

.back-to-top a:hover {
    color: #ff0000;
}

/* IPHONE */

.product-area-II {
    border: 7px solid #000000;
    padding: 20px;
    margin-bottom: 35px;
    position: relative;
}

.product-area-II .product-name {
    text-align: center;
    margin-bottom: 25px;
}

.product-area-II .product-image img {
    width: 250px;
    height: 280px;
    margin-bottom: 15px;
}

.product-area-II .product-price {
    font-weight: bold;
    font-size: 20px;
    color: #998f8f;
    margin-bottom: 15px;
}

.product-area-II .product-info {
    margin-bottom: 15px;
} 

.product-area-II .product-info h3 {
    color: #006400;
    margin-bottom: 15px;
}

.product-area-II .product-info ul {
    list-style: disc;
    padding-left: 25px;
    font-weight: bold;
    color: #f05f05;
}

.product-area-II .product-info ul li {
    margin-bottom: 8px;
}

.product-area-II .product-info ul li:last-child {
    margin: 0;
}

.product-area-II .shipping-detail {
    font-size: 22px;
    font-weight: bold;
    color: #5da6e6;
    margin-bottom: 20px;
}

.product-area-II .purchase-area a,
.product-area-II .purchase-area a:link,
.product-area-II .purchase-area a:visited,
.product-area-II .purchase-area a:active 
{
    background-color: burlywood;
    text-decoration: none;
    font-weight: bold;
    padding: 9px;
}

.product-area-II .purchase-area a:hover {
    color: red;
}

/* SONY */

.product-area-III {
    border: 7px solid #000000;
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
}

.product-area-III .product-name {
    text-align: center;
    margin-bottom: 25px;
}

.product-area-III .product-image img {
    width: 250px;
    height: 280px;
    margin-bottom: 15px;
    margin-top: 29px;
}

.product-area-III .product-price {
    font-weight: bold;
    font-size: 20px;
    color: #998f8f;
    margin-bottom: 15px;
}

.product-area-III .product-info {
    margin-bottom: 15px;
} 



.product-area-III .product-info ul {
    list-style: disc;
    padding-left: 25px;
    font-weight: bold;
    color: #f05f05;
}

.product-area-III .product-info ul li {
    margin-bottom: 8px;
}

.product-area-III .product-info ul li:last-child {
    margin: 0;
}

.product-area-III .shipping-detail {
    font-size: 22px;
    font-weight: bold;
    color: #5da6e6;
    margin-bottom: 20px;
}

.product-area-III .purchase-area a,
.product-area-III .purchase-area a:link,
.product-area-III .purchase-area a:visited,
.product-area-III .purchase-area a:active 
{
    background-color: burlywood;
    text-decoration: none;
    font-weight: bold;
    padding: 9px;
}

.product-area-III .purchase-area a:hover {
    color: red;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.main-area .left-side {
    width: 50%;
    float: left;
}

.main-area .right-side {
    float: left;
    width: 50%;
    margin-top: 82px;
    font-weight: bold;
}

.social-area {
    position: fixed;
    top: 230px;
    right: 55px;
}

.social-area ul li {
    margin-bottom: 15px;
}


.social-area ul li:last-child {
    margin-bottom: 0;
}